---
import Layout from '../layouts/Layout.astro'

import heroImage from '../bilder/komprimiert/PlastikHero-min.jpg'
---

<Layout
	title='Plastikersatz'
	description='Start Webseite von Plastikalternativen, aktuelle Nachrichten direkt verfügbar'
	pageIdentifier='home'
>
	<main>
		<div id='stripes' aria-hidden='true'>
			<span></span>
		</div>
		<div class='hero-container'>
			<img class='hero-pic' src={heroImage.src} alt='Plastik im Meer' />
		</div>
		<div class='main-hero m-width'>
			<div class='title'>
				<h1 class='title-h'>Gemeinsam bekämpfen wir Plastik</h1>
				<p class='title-p'>Alle Infos zu Plastik und seinen Alternativen</p>
			</div>
			<div class='cta-container'>
				<a href='#news' class='cta-primary cta button'
					>Neues zu Plastik <i class='fas fa-chevron-down'></i></a
				>
				<a href='seiten/alternativen.html' class='cta-secondary cta button'
					>Alternativen</a
				>
			</div>
		</div>
	</main>

	<section id='news'>
		<div class='news-cards m-width'>
			<article class='news-card'>
				<div class='card-text'>
					<p class='card-author'>Artikel von Dein Spiegel | 16.04.2020</p>
					<h2 class='card-title'>
						Plastik-Verpackungen vermeiden: Zwei Schwestern probieren den
						Plastik-Verzicht
					</h2>
					<p class='card-desc'>
						Wie schwer ist es, Plastik-Verpackungen und anderen Abfall zu
						vermeiden? Die Schwestern Frida, 13, und Helene, 10, haben es für
						"Dein SPIEGEL" eine Woche lang ausprobiert.
					</p>
					<a
						class='card-source button'
						href='https://www.spiegel.de/deinspiegel/plastik-verpackungen-vermeiden-zwei-schwester-probieren-den-plastik-verzicht-a-00000000-0002-0001-0000-000169777622'
						target='_blank'
						rel='noreferrer'>Weiter Lesen</a
					>
				</div>
				<div class='card-pic-container'>
					<img
						class='card-pic'
						src='https://cdn.prod.www.spiegel.de/images/b6ccfc1d-5b7b-4441-9be0-092ec1fb8e5b_w1280_r1.77_fpx54.66_fpy50.jpg'
						alt='Zwei Schwestern probieren den Plastik-Verzicht'
						title='Zwei Schwestern probieren den Plastik-Verzicht'
					/>
				</div>
			</article>
			<article class='news-card'>
				<div class='card-text'>
					<p class='card-author'>Artikel von Achim Dreis | 23.04.2020</p>
					<h2 class='card-title'>
						Beachvolleyballer gegen Müll im Meer: „Es ist nach fünf vor zwölf“
					</h2>
					<p class='card-desc'>
						Der Beachvolleyballer und Tauchlehrer Tim Noack widmet sich dem
						Kampf gegen Plastikmüll im Meer. Im Interview spricht er über sein
						Projekt und die Frage, was „normal“ ist.
					</p>
					<a
						class='card-source button'
						href='https://www.faz.net/aktuell/gesellschaft/wie-beachvolleyballer-noack-gegen-plastikmuell-im-meer-kaempft-16662283.html'
						target='_blank'
						rel='noreferrer'>Weiter Lesen</a
					>
				</div>
				<div class='card-pic-container'>
					<img
						class='card-pic'
						src='https://media0.faz.net/ppmedia/aktuell/sport/2634673300/1.6664824/facebook_teaser/bedenkliche-entwicklung-man.jpg'
						alt='Taucher unter Wasser inmitten von Plastik'
						title='Taucher unter Wasser inmitten von Plastik'
					/>
				</div>
			</article>
			<article class='news-card'>
				<div class='card-text'>
					<p class='card-author'>Artikel von Pauline Schnor | 07.04.2020</p>
					<h2 class='card-title'>
						DHDL-Startup: Mit Mode aus Meeresmüll in der „Höhle der Löwen“
					</h2>
					<p class='card-desc'>
						Das Wiener Startup Margaret and Hermione bietet Bikinis und
						Sportkleidung aus recyceltem Plastik an. Gründerin Barbara Gölles
						will damit bei den DHDL-Juroren punkten.
					</p>
					<a
						class='card-source button'
						href='https://www.gruenderszene.de/media/margaret-and-hermione-dhdl'
						target='_blank'
						rel='noreferrer'>Weiter Lesen</a
					>
				</div>
				<div class='card-pic-container'>
					<img
						class='card-pic'
						src='http://www.gruenderszene.de/wp-content/uploads/2020/04/margaret.jpg'
						alt='Mit Mode aus Meeresmüll in der Höhle der Löwen'
						title='Mit Mode aus Meeresmüll in der Höhle der Löwen'
					/>
				</div>
			</article>
			<article class='news-card'>
				<div class='card-text'>
					<p class='card-author'>Artikel von Anika Bube | 13.02.2020</p>
					<h2 class='card-title'>
						Einfrieren ganz OHNE Plastik: DESHALB sollten Sie Ihr Essen nie in
						Plastikdosen einfrieren
					</h2>
					<p class='card-desc'>
						Einfrieren ist die beste Methode, um fertige Speisen oder
						angebrochene Lebensmittel haltbar zu machen, wenn man sie nicht
						zeitnah aufbrauchen kann. Viele Verbraucher greifen dann zu
						Plastikdosen. Doch das ist nicht unbedingt die gesündeste Methode.
					</p>
					<a
						class='card-source button'
						href='https://www.news.de/gesundheit/855824794/einfrieren-in-plastikdosen-gefaehrlich-fuer-gesundheit-essensreste-und-fleisch-einfrieren-ohne-plastik-in-glas-alternativen/1/'
						target='_blank'
						rel='noreferrer'>Weiter Lesen</a
					>
				</div>
				<div class='card-pic-container'>
					<img
						class='card-pic'
						src='https://media.news.de/resources/thumbs/59/28/857092753_736x414/adobestockhedgehogjpeg-1581070891.jpg'
						alt='Plastikdosen sind nicht immer die richtige Wahl zum Einfrieren.'
						title='Plastikdosen sind nicht immer die richtige Wahl zum Einfrieren.'
					/>
				</div>
			</article>
			<article class='news-card'>
				<div class='card-text'>
					<p class='card-author'>
						Artikel von Michael Weiland Greenpeace | 05.02.2020
					</p>
					<h2 class='card-title'>Ein Plan gegen Plastik</h2>
					<p class='card-desc'>
						Das gab’s noch nie: In Berlin stellt ein breites Bündnis der
						Zivilgesellschaft Wege aus der Plastikkrise vor. Die Regierung muss
						handeln, so Greenpeace und andere Organisationen.
					</p>
					<a
						class='card-source button'
						href='https://www.greenpeace.de/themen/endlager-umwelt/plastikmuell/ein-plan-gegen-plastik'
						target='_blank'
						rel='noreferrer'>Weiter Lesen</a
					>
				</div>
				<div class='card-pic-container'>
					<img
						class='card-pic'
						src='./bilder/komprimiert/greenpeace-plan-berlin-min.jpg'
						alt='Gruppenbild vor der Pressekonferenz'
						title='Gruppenbild vor der Pressekonferenz'
					/>
				</div>
			</article>
			<article class='news-card'>
				<div class='card-text'>
					<p class='card-author'>Artikel von News.de | 23.12.2019</p>
					<h2 class='card-title'>
						Autofrei und plastikfrei: Umweltbewusst ins neue Jahr 2020
					</h2>
					<p class='card-desc'>
						Umweltbewusst und achtsam ins neue Jahr! So gelingt Ihnen der
						Umstieg zum autofreien, plastikfreien und umweltbewussten Leben.
					</p>
					<a
						class='card-source button'
						href='https://www.news.de/panorama/855811087/autofrei-und-plastikfrei-umweltbewusst-ins-neue-jahr-reduzieren-sie-stressfaktoren-fuer-die-umwelt-und-sich-selber/1/'
						target='_blank'
						rel='noreferrer'>Weiter Lesen</a
					>
				</div>
				<div class='card-pic-container'>
					<img
						class='card-pic'
						src='https://media.news.de/resources/thumbs/1e/62/857065171_736x414/stressfaktoren-belasten-die-umwelt-und-sie-selber-1576169651.jpg'
						alt='Stressfaktoren belasten die Umwelt und Sie selber'
						title='Stressfaktoren belasten die Umwelt und Sie selber'
					/>
				</div>
			</article>
		</div>
	</section>
</Layout>
