---
import Layout from '../layouts/Layout.astro'

import { articles } from '../articles'
import heroImage from '../bilder/komprimiert/PlastikHero-min.jpg'
import NewsCard from '../components/NewsCard.astro'
---

<Layout
	title='Plastikersatz'
	description='Start Webseite von Plastikalternativen, aktuelle Nachrichten direkt verfügbar'
	pageIdentifier='home'
>
	<main>
		<div id='stripes' aria-hidden='true'>
			<span></span>
		</div>
		<div class='hero-container'>
			<img class='hero-pic' src={heroImage.src} alt='Plastik im Meer' />
		</div>
		<div class='main-hero m-width'>
			<div class='title'>
				<h1 class='title-h'>Gemeinsam bekämpfen wir Plastik</h1>
				<p class='title-p'>Alle Infos zu Plastik und seinen Alternativen</p>
			</div>
			<div class='cta-container'>
				<a href='#news' class='cta-primary cta button'
					>Neues zu Plastik <i class='fas fa-chevron-down'></i></a
				>
				<a href='seiten/alternativen.html' class='cta-secondary cta button'
					>Alternativen</a
				>
			</div>
		</div>
	</main>

	<section id='news'>
		<div class='news-cards m-width'>
			{articles.map(article => <NewsCard article={article} />)}
		</div>
	</section>
</Layout>
