---
import Card from './Card.astro'

interface Props {
	image: {
		src: string
		alt: string
	}
}

const { image } = Astro.props
---

<Card
	as='div'
	image={image}
	highlightLocation='left'
	contentOrientation='horizontal'
>
	<div class='card-text' slot='card-text'>
		<p class='card-content'>
			<slot />
		</p>
	</div>
</Card>
<style>
	.card-text {
		z-index: 10;
		display: grid;
		grid-gap: 7px;
		align-content: start;

		padding: 2.5rem;
		padding-left: 3rem;
	}

	.card-content {
		font-weight: 400;
		font-size: 2rem;
		color: var(--paragGray2);
		line-height: 1.2;
		text-align: left;
	}
</style>
